* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadein {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@mixin buttonInvisible {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #16E3DD;

  span {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 2em 0 3em 0;

    h1 {
      font-size: 5rem;
      color: #9610E4;
    }

  }

  #input-container {
    width: 100vw;
    display: flex;
    margin-top: 2em;

    form {
      width: 100vw;
      display: flex;
      justify-content: center;

      div {
        width: 40%;
        display: flex;
        justify-content: space-between;
        background-color: #04D279;
        border: 1px solid grey;
        padding: 4px;
        border-radius: 20px;

        &:hover {
          animation: fadein 0.4s;
          outline: black solid 2px;
        }

        #input-bar {
          width: 100%;
          padding: 8px 15px 8px 8px;
          background: none;
          border: none;
          font-size: 2rem;

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            color: #363333;
          }

        }

        #submit-btn {
          @include buttonInvisible;

          &:focus-visible {
            outline: none;
          }

          img {
            margin-right: 5px;
            width: 100%;
            height: 75%;

            &:focus-visible {
              outline: none;
            }
          }
        }
      }

      #category-select {
        width: 15%;
        background-image: url(img/category.svg);
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: 10px;
        padding: 5px 5px 5px 70px;
        margin-left: 1.5em;
        font-size: 1.5rem;
        background-color: #07B86C;
        border-radius: 30px;
        height: 66px;
        cursor: pointer;

        &:hover, &:focus-visible {
          animation: fadein 0.4s;
          outline: black solid 2px;
        }
      }
    }

  }

  #list-container {
    width: 100vw;
    display: flex;
    margin-top: 4em;

    ul {
      list-style: none;
      width: 30%;
      margin-left: 27%;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #09af66;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 10px;

        text {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 1.5rem;
          padding-right: 15px;
        }

        .list-btn {
          @include buttonInvisible;
          height: 25px;
          width: 25px;

          img {
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}